<% title("Other users' statuses") %>
<% subtitle("Here you'll find a list of the other users' statuses.") %>
<% @imgTitle = "status.png" %>

<%= render :partial => @statuses %>
<br />
<span class="link add"><%= link_to("Add a new status", new_user_status_path) %></span>