<% div_for friendship do %>
    <h3><%= link_to(User.find(friendship.friend_id).login, user_friendship_path(current_user.id, friendship.id)) %></h3>
    <span>Established <%= time_ago_in_words(friendship.created_at) %> ago</span>
<% end %>