<h1>Editing statut</h1>

<% form_for(@statut) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @statut %> |
<%= link_to 'Back', statuts_path %>